{% load static %}
<header>
    <link rel="stylesheet" type="text/css" href="{% static 'forum_app/styles.css' %}">

    <h2>Welcome, {{ request.user.username }}</h2>

    <div class="header-buttons">
        <!-- Create Issue button -->
        <a href="{% url 'create_issue' %}" class="btn-create">Create Issue</a>

        <!-- Vertical separator -->
        <div class="line-vertical"></div>

        <!-- Logout button -->
        <form method="post" action="{% url 'logout' %}">
           
            <button type="submit" class="btn-logout">Logout</button>
        </form>
    </div>
</header>


</header>

<h3>Pending Issues</h3>
{% for issue in pending %}
  <a href="{% url 'issue_detail' issue.id %}">{{ issue.title }}</a>
  -
  {% if issue.owner %}
    {{ issue.owner.username }}
  {% else %}
    Publisher deleted
  {% endif %}
  <br>
{% empty %}
  No pending issues
{% endfor %}

<h3>Closed Issues</h3>
{% for issue in closed %}
  <a href="{% url 'issue_detail' issue.id %}">{{ issue.title }}</a>
  -
  {% if issue.owner %}
    {{ issue.owner.username }}
  {% else %}
    Publisher deleted
  {% endif %}
  <br>
{% empty %}
  No closed issues
{% endfor %}

<h3>My Issues</h3>
{% for issue in my_issues %}
  <a href="{% url 'issue_detail' issue.id %}">{{ issue.title }}</a>
  ({{ issue.status }})
  
  {% if issue.status == 'pending' %}
    {% if issue.owner == request.user %}
      <a href="{% url 'close_issue' issue.id %}">Close</a>
    {% else %}
      <span style="color: gray;">Only the creator can close this issue</span>
    {% endif %}
  {% endif %}
  <br>
{% empty %}
  You have no issues
{% endfor %}

