{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forum_app/styles.css' %}">

<h2>{{ issue.title }}</h2>
<a href="{% url 'dashboard' %}" class="btn-create">Back to Dashboard</a>
<p>{{ issue.description }}</p>
<p>Status: {{ issue.status }}</p>

<p>
  Owner:
  {% if issue.owner %}
    {{ issue.owner.username }}
  {% else %}
    Publisher deleted
  {% endif %}
</p>

<hr>

{% if issue.status == 'pending' %}
  <h3>Add a Comment</h3>
  <form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <div class="form-group">
        {{ form.content.errors }}
        {{ form.content }}
    </div>
    
    <button type="submit" style="margin-top: 10px;">Comment</button>
  </form>
{% endif %}

<hr>

{% if issue.status == 'pending' and request.user.id == issue.owner_id %}
  <form action="{% url 'close_issue' issue.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn-logout">Close this issue</button>
  </form>
{% endif %}

<h3>Comments:</h3>
{% for c in issue.comments.all %}
  <div style="border-bottom: 1px solid #eee; margin-bottom: 10px; padding-bottom: 5px;">
    <p>
      <b>
        {% if c.author %}
          {{ c.author.username }}
        {% else %}
          Deleted user
        {% endif %}
      </b>
      <span style="font-size: 0.8em; color: #666;">
        - {{ c.created_at|date:"M d, Y H:i" }}
      </span>
    </p>
    <p>{{ c.content }}</p>
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}