{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'forum_app/styles.css' %}">

<h2>{{ issue.title }}</h2>
<a href="{% url 'dashboard' %}"
class="btn-create">Back to Dashboard</a>
<p>{{ issue.description }}</p>
<p>Status: {{ issue.status }}</p>

<p>
  Owner:
  {% if issue.owner %}
    {{ issue.owner.username }}
  {% else %}
    Publisher deleted
  {% endif %}
</p>

{% if issue.status == 'pending' %}
  <form method="post">
    {% csrf_token %}
    <textarea name="content" placeholder="Add a comment"></textarea><br>
    <button type="submit">Comment</button>
  </form>
{% endif %}

{% if issue.status == 'pending' and request.user.id == issue.owner_id %}
  <form action="{% url 'close_issue' issue.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn-logout">Close this issue</button>
  </form>
{% endif %}

<h3>Comments:</h3>
{% for c in issue.comments.all %}
  <p>
    <b>
      {% if c.author %}
        {{ c.author.username }}
      {% else %}
        Deleted user
      {% endif %}
    </b>:
    {{ c.content }}
  </p>
{% empty %}
  No comments yet.
{% endfor %}
