.header-buttons {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.header-buttons form {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.btn-create, .btn-logout {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px; 
    line-height: 1;
    padding: 0 12px; 
    border-radius: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: none;
}

.btn-create { background: #1868bd; }
.btn-logout { background: #961313; }

.line-vertical {
    width: 2px;
    height: 36px;  
    background-color: #999;
}
