apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: forum-hpa
  namespace: forum-namespace
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: forum-webapp
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
        
  behavior: 
    scaleUp:
      stabilizationWindowSeconds: 10
    scaleDown: 
      stabilizationWindowSeconds: 30
