services:
  application:
    build:
      context: .
      dockerfile: ./Dockerfile
      secrets:
        - "my-env-file"
    container_name: forum-application
    restart: on-failure
    env_file:
      - .env
    ports:
      - 8000:8000
    depends_on:
      - db

  db: 
    container_name: forum-database
    image: mariadb:latest
    restart: no
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - base_vol:/data/db

volumes:
  base_vol:

secrets:
  my-env-file:
    file: ".env"
